* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --red: #bc1823;
  --grey: #efefef;
  --amarelo: #fab919;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}
html:focus {
  outline: none;
}

@media (prefers-recuded-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--grey);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background: -webkit-linear-gradient(0deg, var(--grey) 60%, var(--red) 60%);
}
.wrapper {
  background: -webkit-linear-gradient(0deg, var(--grey) 78%, var(--red) 78%);
}

/*  BTN  */
.btn {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 40px;
  border: none;
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}
.btn:hover {
  background-color: rgb(170, 2, 2);
}

.rounded-btn {
  position: fixed;

  background-color: var(--white);
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid var(--red);
  text-align: center;
  line-height: 0;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.show-btn {
  display: block;
}

/* nAVBAR */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
}
header .nav-logo {
  padding: 1rem 0;
  margin: 0;
  width: 50px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  margin: 0 20px;
}

.showcase-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15% 0;
}

.showcase-wrapper img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

/* ABOUT SECTIOn */
#sobre {
  margin: 3rem 0;
}

.about-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section-wrapper div {
  flex: 1;
}
.about-section-wrapper div:first-child {
  margin-right: 3rem;
}

.about-img-wrapper img {
  width: 100%;
}

/* ;;;;; ofertas ;;;;;;; */
#ofertas {
  text-align: center;
  background: -webkit-linear-gradient(270deg, var(--grey) 50%, var(--red) 50%);

  padding: 2rem 0 14rem;
}
#ofertas p {
  margin-bottom: 3rem;
}

.items {
  display: flex;
  justify-content: space-around;
}
.item {
  background-color: var(--white);
  border-radius: 10px;
  font-weight: 600;
  position: relative;
  padding: 1.5rem;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#ofertas .item p {
  margin: 20px 0 0;
}
.item i.fa-heart {
  position: absolute;
  top: 10px;
  left: 1rem;
  color: var(--red);
}

.item img {
  width: 100%;
  max-height: 180px;
}

/* /////  CONTACT FORM /// */
#contato {
  padding: 14rem 0;
  background: -webkit-linear-gradient(270deg, var(--grey) 50%, var(--red) 50%);
}
.contato-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contato-wrapper div {
  flex: 1;
}

.contato-img-wrapper img {
  width: 90%;
}

.form-item input,
.form-item textarea {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 1.2rem;
}

.form-item textarea {
  resize: vertical;
}

.btn-primary {
  background-color: var(--white);
  color: var(--red);
  transition: 0.1s ease-in-out all;
}

.btn-primary:hover {
  color: var(--black);

  background-color: var(--white);
  transform: scale(1.1);
}

/* /////Foooter/////// */
#footer {
  padding: 2rem 0;
  background-color: var(--red);
  color: var(--white);
  border-top: 1px solid white;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.social-medias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-medias li {
  margin: 20px;
  background-color: var(--white);
  border-radius: 50%;

  width: 45px;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.social-medias li:hover i {
  color: var(--red);
}

.social-medias li i {
  color: #000000;
  font-size: 20px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  width: 50px;
  filter: brightness(0);
  filter: brightness(1000);
  margin-right: 10px;
}

@media screen and (max-width: 720px) {
  .showcase-wrapper {
    padding: 25% 0;
    text-align: center;
    justify-content: center;
  }

  .showcase-wrapper h1 {
    font-size: 3.3rem;
  }

  nav {
    flex-direction: column;
  }
  #sobre {
    margin: 0;
  }
  #sobre,
  #contato {
    padding: 8rem 0;
    text-align: center;
  }

  .showcase-wrapper img,
  .about-img-wrapper,
  .contato-img-wrapper {
    display: none;
  }

  .items {
    flex-direction: column;
    align-items: center;
  }

  .btn-primary {
    width: 100%;
  }
  .btn-primary:hover {
    transform: scale(1);
  }
  .btn-primary:active {
    transform: scale(0.8);
  }
  .footer-logo {
    width: 30px;
    margin-bottom: 10px;
  }
}
